@use "../abstracts/variable";

* {
  font-family: "Inter", serif;
}

:root {
  color-scheme: light dark;
}

#root {
  isolation: isolate;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: light-dark(variable.$color-white, variable.$color-gray-800);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
}

header,
section:is(.hero, .characters, .episodes, .location),
footer {
  max-width: 71.25rem;
  margin: 4rem auto;
  padding: 0 1rem;
}