// Primary Colors
$color-primary-900: #1a1a1a;
$color-primary-800: #1e1e20;
$color-neutral-600: #313234;

// Neutral Colors
$color-neutral-black: #000000;
$color-neutral-white: #ffffff;

// Accent Colors
$color-accent-primary: #11b0c8;
$color-accent-secondary: #42b4ca;
$color-accent-tertiary: #bfde42;