//* ========== COLORS ==========
$color-black: #000000;
$color-white: #ffffff;

$color-gray-50: #f9f9f9;
$color-gray-100: #f1f1f1;
$color-gray-700: #313234;
$color-gray-800: #1e1e20;
$color-gray-900: #1a1a1a;

$color-primary-500: #42b4ca;
$color-primary-600: #11b0c8;

$color-accent-red: #fa1f00;
$color-accent-lime: #bfde42;

//* ========== SPACES ==========
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.25rem;
$space-xl: 1.5rem;
$space-2xl: 2rem;
$space-3xl: 4rem;
$space-4xl: 6rem;

//* ========== BORDER RADIUS ==========
$rounded-xs: 8px;
$rounded-sm: 12px;
$rounded-md: 16px;
$rounded-lg: 18px;
$rounded-xl: 32px;
$rounded-full: 100%;

//* ========== BOX SHADOW ==========
$shadow-1: 0 0 50px 70px light-dark(#fff, #7575750a);

//* ========== BREAKPOINTS ==========
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 896px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;